.vscode/
node_modules/
src/
server/src/
server/*.json
test/
views/test/

**/*.cs
**/*.d.ts
**/*.map
**/*.ts
**/*.vue

.claude/
.eslintrc.json
.gitignore
eslint.config.mts
skynovel-Mac2Win
tsconfig*.json
TODO.md

**/bun.lock
**/*.tsbuildinfo
**/eslint.config.*
	# 同梱する server/node_modules/ の中にも入っているので ** で
