.vscode/
node_modules/
src/
server/src/
server/*.json
test/
views/test/

**/*.cs
**/*.d.ts
**/*.map
**/*.ts
**/*.vue

.claude/
.eslintrc.json
eslint.config.mts
skynovel-Mac2Win
tsconfig.json
tsconfig.eslint.json
bun.lock
dist/*.tsbuildinfo
TODO.md
