<!doctype html><html>
<head><meta charset="utf-8"/>
<title>スコア エディタ</title>
<link rel="canonical" href="index.htm">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta_autooff http-equiv="Content-Security-Policy" content="default-src 'none'; img-src data: ${webview.cspSource}; script-src 'nonce-${nonce}' ${webview.cspSource}; style-src ${webview.cspSource} 'unsafe-inline'; font-src ${webview.cspSource};"/>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<link rel="stylesheet" href="./lib/bootstrap2vscode.css">
<link rel="stylesheet" href="./lib/fontawesome/all.min.css">
<style>
.btn {text-transform: none; font-size: 14px;}
.btn-outline-primary {color: white;}
.btn-outline-secondary {color: white;}
.btn-warning {color: black;}
.btn-info {color: black;}

.popover-body {padding: 0;}

th {	/* 縦スクロール時にヘッダー行を固定 */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}
</style>
<script defer nonce="${nonce}" src="./lib/bootstrap.min.js"></script>
<script defer nonce="${nonce}" src="./lib/fontawesome/all.min.js"></script>
<script defer nonce="${nonce}" src="./score.js"></script>
</head>
<body class="p-0 bg-dark bg-gradient black-text">


<div>
<table class="table table-dark table-striped"><thead class="text-center"><tr>
	<th class="p-1">命令</th>
	<th class="p-1" data-cmb="bg">base</th>
	<th class="p-1" data-cmb="fg">0</th>
	<th class="p-1" data-cmb="fg">1</th>
	<th class="p-1" data-cmb="fg">2</th>
	<th class="p-1">mes</th>
	<th class="p-1" data-cmb="bgm">BGM</th>
	<th class="p-1">SE</th>
	<th class="p-1">詳細</th>
	<th class="p-1">
		<button id="tglEdit" type="button" class="btn btn-secondary btn-sm py-0">
			<i class="fas fa-bars"></i>
		</button>
	</th>
</tr></thead><tbody>

<tr data-row="0">
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm" data-ripple-color="dark" draggable="true">
			<i class="fas fa-exchange-alt" aria-hidden="true"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm px-2 text-start" data-ripple-color="dark" id="btn0" draggable="true">
			<i class="fas fa-exchange-alt" aria-hidden="true"></i>
			コール *init
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="1">
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm" data-ripple-color="dark" draggable="true">
			<i class="fa fa-cog" aria-hidden="true"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm px-2 text-start" data-ripple-color="dark">
			<i class="fa fa-cog" aria-hidden="true"></i>
			初期化設定
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="2">
	<td></td>
	<td class="p-0 sn-cmb-start" data-fn="../../preenv/img/node_win8.jpg">
		<button type="button" class="btn btn-success btn-block btn-sm" data-ripple-color="dark">
			<i class="fas fa-image"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-success btn-block btn-sm px-2 text-start" data-ripple-color="dark" data-mdb-toggle="modal" data-mdb-target="#sn-grpModal" data-title="背景選択" data-fld="bg">
			<i class="fas fa-image"></i>
			石段_昼
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="3">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0 sn-cmb-start" data-fn="free04">
		<button type="button" class="btn btn-info btn-block btn-sm" data-ripple-color="dark" data-mdb-toggle="tooltip" title="fn=free04">
			<i class="fa fa-play" aria-hidden="true"></i>
		</button>
	</td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-info btn-block btn-sm dropdown-toggle px-2 text-start" data-ripple-color="dark" data-mdb-toggle="dropdown" aria-expanded="false">
			<i class="fa fa-play" aria-hidden="true"></i>
			free04
		</button>
		<div class="dropdown-menu col-xxl-4 col-sm-6 col-12">
			<form class="p-1 d-flex flex-wrap">
		<div class="form-outline col-12 col-md-6 col-lg-4 mt-2 mb-1">

<input class="form-control" list="${id}lst" id="${id}dl" placeholder="検索..." data-key="${v.key}" data-filter="${v.filter}" value="New York"/>
<label for="${id}dl" class="form-label">${v.hint ?? v.name}</label>
<datalist id="${id}lst">
	<option>San Francisco</option>
	<option>New York</option>
	<option>Seattle</option>
	<option>Los Angeles</option>
	<option>Chicago</option>
</datalist>
<script>
	document.addEventListener('DOMContentLoaded', ()=> {
		document.getElementById('${id}dl').addEventListener('click', e=> {
console.log(`fn:score.htm line:167 click`);
			e.stopPropagation();
		});
	});
</script>

		</div>
		<div class="form-outline0 col-12 col-md-6 col-lg-4 mt-2 mb-1 px-3">

			<div class="form-control">
				<label class="form-label select-label" for="sn-3sel">音声ファイル名</label>
				<select class="select" id="sn-3sel">
					<option>San Francisco</option>
					<option selected>New York</option>
					<option>Seattle</option>
					<option>Los Angeles</option>
					<option>Chicago</option>
				</select>
			</div>
<script>
	document.addEventListener('DOMContentLoaded', ()=> {
		for (const c of document.getElementsByTagName('select')) {
			c.addEventListener('click', e=> {
console.log(`fn:score.htm line:186 click`);
				e.stopPropagation();
			});
		}
	});
</script>

		</div>
		<div class="form-outline col-12 col-md-6 col-lg-4 mt-2 mb-1">

			<div class="range form-control">
			<label class="form-label" for="sn-3:3rng2">不透明度（0.0 - 1.0）</label>
				<input type="range" id="sn-3:3rng2" class="form-range" min="0.0" max="1.0" step="0.1" value="1"/>
			</div>

		</div>
		<div class="form-outline0 col-12 col-md-6 col-lg-4 mt-2 mb-1">

			<div class="form-control">
			<div class="form-check">
				<input type="checkbox" id="sn-3:4chk" class="form-check-input" value=""/>
				<label class="form-check-label" for="sn-3:4chk">
					Default checkbox
				</label>
			</div>
			</div>

		</div>
		<div class="form-outline col-12 col-md-6 col-lg-4 mt-2 mb-1">

			<input type="text" value="音声" id="sn-3:2tx" class="form-control"/>
			<label class="form-label" for="sn-3:2tx">再開時の再生停止</label>

		</div>
			</form>
		</div>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="4">
	<td></td>
	<td></td>
	<td class="p-0 sn-cmb-start" data-fn="../res/img/icon_skynovel.png">
		<button type="button" class="btn btn-secondary btn-block btn-sm">
			<i class="fas fa-user"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-secondary btn-block btn-sm px-2 text-start dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
			<i class="fas fa-user"></i>
			諸戸_通常
		</button>
		<div class="dropdown-menu col-xxl-4 col-sm-6 col-12">
			<form class="p-1 d-flex flex-wrap">

		<div class="input-group mb-3">
			<button type="button" class="btn btn-primary" id="sn-rid4btn" data-ripple-color="dark">body</button>
			<input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="sn-rid4btn" readonly/>
		</div>

			</form>
		</div>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="5">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm">
			<i class="fas fa-align-left"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td class="p-0">
		<form><textarea class="form-control bg-light" placeholder="本文テキストを入力">　さゞえも鬼になるまじきものにもあらずと、夢心におもひぬ。</textarea></form>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="6">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm">
			<i class="fas fa-align-left"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm px-2 text-start" data-mdb-toggle="dropdown" aria-expanded="false">
			<i class="fas fa-align-left"></i>
			改ページ待ち
		</button>
		<div class="dropdown-menu col-xxl-4 col-sm-6 col-12">
			<form class="p-1 d-flex flex-wrap">

		<div class="form-outline col-12 col-md-6 col-lg-4 mt-2 mb-1 pt-2">
			<div class="form-check ml-3 py-2">
				<input type="checkbox" value="${v.def}" class="form-check-input px-0" id="sn-chk${i}" checked/>
				<label class="form-check-label" for="sn-chk${i}">マーク表示するか</label>
			</div>
		</div>
		<div class="form-outline col-12 col-md-6 col-lg-4 mt-2 mb-1">
			<input type="number" value="500" id="sn-txf6_1${i}" class="form-control"/>
			<label class="form-label" for="sn-txf${i}">再開時の効果音FO時間</label>
		</div>
		<div class="form-outline col-12 col-md-6 col-lg-4 mt-2 mb-1">
			<input type="text" value="音声" id="sn-txf6_2{i}" class="form-control"/>
			<label class="form-label" for="sn-txf2{i}">再開時の再生停止</label>
		</div>

			</form>
		</div>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="7">
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm" data-ripple-color="dark">
			<i class="fas fa-hourglass-start" aria-hidden="true"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-primary btn-block btn-sm px-2 text-start" data-ripple-color="dark" data-mdb-toggle="tooltip" title="時間待ち　time=2000　canskip=true">
			<i class="fas fa-hourglass-start" aria-hidden="true"></i>
			2000ms
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times" aria-hidden="true"></i>
		</button>
	</div></td>
</tr>

<tr data-row="8">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-warning btn-block btn-sm" data-ripple-color="dark">
			<i class="fas fa-bell"></i>
		</button>
	</td>
	<td class="p-0">
		<button type="button" class="btn btn-warning btn-block btn-sm px-2 text-start" data-ripple-color="dark" data-toggle="modal" data-target="#sn-rid5_h1Modal">
			<i class="fas fa-bell"></i>
			退場音
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="9">
	<td></td>
	<td></td>
	<td class="p-0 sn-cmb-end">
		<button type="button" class="btn btn-outline-secondary btn-block btn-sm" data-ripple-color="dark">
			<i class="fas fa-user"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-outline-secondary btn-block btn-sm px-2 text-start" data-ripple-color="dark">
			<i class="fas fa-user"></i>
			(退場)
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="10">
	<td></td>
	<td class="p-0 sn-cmb-end">
		<button type="button" class="btn btn-outline-success btn-block btn-sm" data-ripple-color="dark">
			<i class="fas fa-image"></i>
		</button>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-outline-success btn-block btn-sm px-2 text-start" data-ripple-color="dark">
			<i class="fas fa-image"></i>
			(消去)
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="11">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0 sn-cmb-end">
		<button type="button" class="btn btn-outline-info btn-block btn-sm" data-ripple-color="dark">
			<i class="fa fa-chevron-down" aria-hidden="true"></i>
		</button>
	</td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-outline-info btn-block btn-sm px-2 text-start" data-ripple-color="dark">
			<i class="fa fa-chevron-down" aria-hidden="true"></i> 1000ms
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="12">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0">
		<button type="button" class="btn btn-block btn-sm px-2 text-start" data-ripple-color="dark" data-toggle="modal" data-target="#sn-rid9Modal">
			(空白セル)
		</button>
	</td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="13">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="14">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="15">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="16">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

<tr data-row="17">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="p-0"><div class="d-flex justify-content-center">
		<button type="button" class="btn btn-danger btn-sm btn-floating tglEdit d-none">
			<i class="fas fa-times"></i>
		</button>
	</div></td>
</tr>

</tbody></table>
</div>


<!-- Modal Grp -->
<div class="modal fade" id="sn-grpModal" tabindex="-1" aria-labelledby="sn-grpModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable"><div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="sn-grpModalLabel">背景選択</h5>
			<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
		</div>
		<div id="sn-grpModalBody" class="modal-body">

<div class="card-group">
	<div class="card">
		<img loading="lazy" src="../../res/preenv/img/node_win6.jpg" class="card-img-top"/>
		<div class="card-footer">
			<button type="button" class="btn btn-primary">node_win6</button>
		</div>
	</div>
	<div class="card">
		<img loading="lazy" src="../../res/preenv/img/node_win7.jpg" class="card-img-top"/>
		<div class="card-footer">
			<button type="button" class="btn btn-primary">node_win7</button>
		</div>
	</div>
	<div class="card">
		<img loading="lazy" src="../../res/preenv/img/node_win8.jpg" class="card-img-top"/>
		<div class="card-footer">
			<button type="button" class="btn btn-primary">node_win8</button>
		</div>
	</div>
</div><!-- card-group  -->

		</div>
	</div></div>
</div>



<div class="modal fade" id="sn-rid9Modal" tabindex="-1" aria-labelledby="sn-rid9ModalLabel" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title" id="sn-rid9ModalLabel">命令選択</h5>
		<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		
		<button type="button" class="btn btn-secondary">
			<i class="fa fa-cog" aria-hidden="true"></i>
			時間待ち
		</button>
		<button type="button" class="btn btn-secondary">
			<i class="fa fa-cog" aria-hidden="true"></i>
			ＡＡＡＡ
		</button>
		<button type="button" class="btn btn-secondary">
			<i class="fa fa-cog" aria-hidden="true"></i>
			ＢＢＢＢ
		</button>
		<button type="button" class="btn btn-secondary">
			<i class="fa fa-cog" aria-hidden="true"></i>
			ＣＣＣＣ
		</button>
		
		
		
	</div>
</div></div>
</div>


</body>
</html>