<!doctype html><html>
<head><meta charset="utf-8"/>
<title>・</title>
<link rel="canonical" href="setting.htm">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta_autooff http-equiv="Content-Security-Policy" content="default-src 'none'; img-src data: ${webview.cspSource}; script-src 'nonce-${nonce}' ${webview.cspSource} 'self' 'unsafe-eval'; style-src ${webview.cspSource} 'unsafe-inline'; font-src ${webview.cspSource}; object-src 'self';"/>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<link rel="stylesheet" href="./lib/bootstrap2vscode.css">
<script defer nonce="${nonce}" type="module" src="./lib/bootstrap.min.js"></script>
<script defer nonce="${nonce}" type="module" src="./setting.ts"></script>
</head>
<body>

	<div id="app"></div>

</body>
</html>