<!doctype html><html>
<head><meta charset="utf-8"/>
<title>・</title>
<link rel="canonical" href="tmpwiz.htm">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta_autooff http-equiv="Content-Security-Policy" content="default-src 'none'; img-src data: ${webview.cspSource}; script-src 'nonce-${nonce}' ${webview.cspSource}; style-src ${webview.cspSource} 'unsafe-inline'; font-src ${webview.cspSource};"/>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<link rel="stylesheet" href="./lib/bootstrap2vscode.css">
<script defer nonce="${nonce}" src="./lib/bootstrap.min.js"></script>
<script defer nonce="${nonce}" src="./tmpwiz.js"></script>
</head>
<body>
<div class="container-fluid"><div class="row">
	<h1>SKYNovel開発　テンプレートから始める</h1>

	　テンプレートから新規プロジェクトを作成します<br/>

	<div class="col-12 px-1 pt-3"><h5>初期値</h5></div>

	<div class="col-12 col-sm-6 px-1 pb-2"><div class="form-outline">
		<label class="form-label" for="save_ns">プロジェクトフォルダ名（半角英数記号）</label>
		<input type="text" id="save_ns" value="" class="form-control sn-vld is-invalid" placeholder="フォルダ名（半角英数記号）"/>
		<div class="invalid-feedback">プロジェクトフォルダ名（半角英数記号）を指定</div>
	</div></div>

</div></div>
<div class="container-fluid"><div class="row">
	<div class="col-12 px-1 pt-3"><h5>テンプレートの選択</h5></div>

<nav><div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-hatsune-tab" data-bs-toggle="tab" href="#nav-hatsune" role="tab" aria-controls="nav-hatsune" aria-selected="true">横書きノベルゲーム</a>
    <a class="nav-link" id="nav-uc-tab" data-bs-toggle="tab" href="#nav-uc" role="tab" aria-controls="nav-uc" aria-selected="false">縦書きノベルゲーム</a>
    <a class="nav-link" id="nav-sample-tab" data-bs-toggle="tab" href="#nav-sample" role="tab" aria-controls="nav-sample" aria-selected="false">小さなサンプル</a>
</div></nav>

<div class="container-fluid mt-2">
<div class="tab-content" id="nav-tabContent">
	<!-- 横書きノベルゲーム -->
	<div class="tab-pane fade show active" id="nav-hatsune" role="tabpanel" aria-labelledby="nav-hatsune-tab">

<div class="carousel slide" data-bs-ride="carousel">
	<ol class="carousel-indicators">
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="./tmpwiz/tmp_hatsune_1.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="./tmpwiz/tmp_hatsune_2.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="./tmpwiz/tmp_hatsune_3.jpg" class="d-block w-100">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
</div>

		<div class="card-body text-secondary">
			<h5 class="card-title">横書きノベルゲーム</h5>
			<p class="card-text">「初音館にて」サンプル</p>
			<a class="btn btn-primary" id="btn.tmp_hatsune" role="button">このテンプレを基にする</a>
		</div>
	</div>

	<!-- 縦書きノベルゲーム -->
	<div class="tab-pane fade" id="nav-uc" role="tabpanel" aria-labelledby="nav-uc-tab">

<div class="carousel slide" data-bs-ride="carousel">
	<ol class="carousel-indicators">
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="./tmpwiz/tmp_uc_1.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="./tmpwiz/tmp_uc_2.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="./tmpwiz/tmp_uc_3.jpg" class="d-block w-100">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
</div>

		<div class="card-body text-secondary">
			<h5 class="card-title">縦書きノベルゲーム</h5>
			<p class="card-text">「桜の樹の下には」サンプル</p>
			<a class="btn btn-primary" id="btn.tmp_uc" role="button">このテンプレを基にする</a>
		</div>
	</div>

	<!-- 小さなサンプル -->
	<div class="tab-pane fade" id="nav-sample" role="tabpanel" aria-labelledby="nav-sample-tab">

<div class="carousel slide" data-bs-ride="carousel">
	<ol class="carousel-indicators">
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
		<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="./tmpwiz/tmp_sample_1.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="./tmpwiz/tmp_sample_2.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="./tmpwiz/tmp_sample_3.jpg" class="d-block w-100">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
</div>

		<div class="card-body text-secondary">
			<h5 class="card-title">小さなサンプル</h5>
			<p class="card-text">シンプルなサンプルです</p>
			<a class="btn btn-primary" id="btn.tmp_sample" role="button">このテンプレを基にする</a>
		</div>
	</div>
</div>
</div>


</div></div>
</body>
</html>