<!doctype html><html>
<head><meta charset="utf-8"/>
<title>・</title>
<link rel="canonical" href="toolbox.htm">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta_autooff http-equiv="Content-Security-Policy" content="default-src 'none'; img-src data: ${webview.cspSource}; script-src 'nonce-${nonce}' ${webview.cspSource}; style-src ${webview.cspSource} 'unsafe-inline'; font-src ${webview.cspSource};"/>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<link rel="stylesheet" href="./lib/bootstrap2vscode.css">
<link rel="stylesheet" href="./lib/fontawesome/all.min.css">
<script defer nonce="${nonce}" src="./lib/bootstrap.min.js"></script>
<script defer nonce="${nonce}" src="./lib/fontawesome/all.min.js"></script>
<script defer nonce="${nonce}" src="./toolbox.js"></script>
<style>




</style>
</head>
<body>

<nav><div class="nav nav-tabs" role="tablist">
	<a class="nav-link active" id="nav-_layers-tab" data-bs-toggle="tab" href="#nav-_layers" role="tab" aria-controls="nav-_layers" aria-selected="true">レイヤ構造</a>
	<a class="nav-link" id="nav-_property-tab" data-bs-toggle="tab" href="#nav-_property" role="tab" aria-controls="nav-_property" aria-selected="false">プロパティ</a>
	<a class="nav-link" id="nav-_tool-tab" data-bs-toggle="tab" href="#nav-_tool" role="tab" aria-controls="nav-_tool" aria-selected="false">ツール</a>
</div></nav>

<div class="container-fluid mt-2">
<div class="tab-content" id="nav-tabContent">
	<!-- レイヤ構造 -->
	<div class="tab-pane fade show active" id="nav-_layers" role="tabpanel" aria-labelledby="nav-_layers-tab">

	<div class="row"><div class="col-12 col-sm-4 col-lg-3 col-xl-2 pb-3">
	<!-- レイヤツリー -->
	<div class="list-group" role="tablist">
		<a class="list-group-item list-group-item-action active" id="list-base-list" data-bs-toggle="list" href="#list-base" role="tab" aria-controls="base">
			<i class="fas fa-image"></i> base
		</a>
		<a class="list-group-item list-group-item-action" id="list-0-list" data-bs-toggle="list" href="#list-0" role="tab" aria-controls="0">
			<i class="fas fa-user"></i> 0
		</a>
		<a class="list-group-item list-group-item-action" id="list-1-list" data-bs-toggle="list" href="#list-1" role="tab" aria-controls="1">
			<i class="fas fa-user"></i> 1
		</a>
		<a class="list-group-item list-group-item-action" id="list-2-list" data-bs-toggle="list" href="#list-2" role="tab" aria-controls="2">
			<i class="fas fa-user"></i> 2
		</a>
		<a class="list-group-item list-group-item-action" id="list-mes-list" data-bs-toggle="list" href="#list-mes" role="tab" aria-controls="mes">
			<i class="far fa-comment"></i> mes
		</a>
			<a class="list-group-item list-group-item-action" id="list-mes_btn-list" data-bs-toggle="list" href="#list-mes_btn" role="tab" aria-controls="mes_btn">
				　<i class="far fa-hand-point-down"></i> ボタン
			</a>
	</div>
	</div><div class="col-12 col-sm-8 col-lg-9 col-xl-10">
	<div class="tab-content">
		<!-- base レイヤ詳細 -->
		<div class="tab-pane fade show active" id="list-base" role="tabpanel" aria-labelledby="list-base-list"><div class="row">

<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<label for="validationServer01" class="form-label">First name</label>
	<input type="text" class="form-control form-control-sm is-valid" id="validationServer01" value="Mark" required/>
	<div class="valid-feedback">
		Looks good!
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<label for="validationServer02" class="form-label">Last name</label>
	<input type="text" class="form-control is-invalid" id="validationServer02" value="Otto" required/>
	<div class="invalid-feedback">
		Looks good!
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<label for="exampleFormControlInput1" class="form-label">Email address</label>
	<input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com"/>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
	<textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<div class="form-check">
		<input class="form-check-input mb-3 sn_checkbox" type="checkbox" value="" id="flexCheckDefault" checked/>
		<label class="form-check-label" for="flexCheckDefault">
			Default checkbox
		</label>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">
			Default radio
		</label>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked/>
		<label class="form-check-label" for="flexRadioDefault2">
			Default checked radio
		</label>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<div class="sn_select">
	<i class="fas fa-angle-down sn_select_v"></i>
	<select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
		<option selected>Open this select menu</option>
		<option value="1">One</option>
		<option value="2">Two</option>
		<option value="3">Three</option>
	</select>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<div class="form-check form-switch mb-1">
		<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked/>
		<label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox</label>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
<div class="range-wrap">
	<div class="range-badge range-badge-down"><span>10%</span></div>
	<label for="customRange2" class="form-label">Example range 2</label>
	<input type="range" class="form-range my-1" min="0" max="5" step="0.5" id="customRange2"/>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<label for="customRange3" class="form-label">Example range</label>
	<input type="range" class="form-range my-1" min="0" max="5" step="0.5" id="customRange3"/>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<label for="exampleColorInput" class="form-label">Color picker</label>
	<input type="color" class="form-control form-control-sm form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color"/>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2 sn_file">
	<label for="formFile" class="form-label btn btn-info btn-sm">file choice</label>
	<input class="form-control form-control-sm" type="file" id="formFile"/>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<label class="form-label" for="book.cre_url">連絡先ＵＲＬ</label>
	<div class="input-group input-group-sm">
		<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2"/>
		<button class="btn btn-info" type="button" id="button-addon2">Button</button>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<button type="button" class="btn btn-info btn-sm">info</button>
	<button type="button" class="btn btn-secondary btn-sm">secondary</button>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	<h1>目視テスト用</h1>
	<img_ src="../../test/目視テスト用/20210926Webview と bootstrap最新との HTML・CSS いじり_目視テスト用a.jpg" class="img-thumbnail"/>
	<img_ src="../../test/目視テスト用/20210926Webview と bootstrap最新との HTML・CSS いじり_目視テスト用b.jpg" class="img-thumbnail"/>
	<img_ src="../../test/目視テスト用/20210924 Tree目標.png" class="img-thumbnail"/>
</div>
<div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-2">
	temp
</div>



		</div></div>

		<!-- 0 レイヤ詳細 -->
		<div class="tab-pane fade" id="list-0" role="tabpanel" aria-labelledby="list-0-list">0...</div>

		<!-- 1 レイヤ詳細 -->
		<div class="tab-pane fade" id="list-1" role="tabpanel" aria-labelledby="list-1-list">1...</div>

		<!-- 2 レイヤ詳細 -->
		<div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-2-list">2...</div>

		<!-- mes レイヤ詳細 -->
		<div class="tab-pane fade" id="list-mes" role="tabpanel" aria-labelledby="list-mes-list">mes...</div>
	</div>
	</div></div>

	</div>

	<!-- プロパティ -->
	<div class="tab-pane fade" id="nav-_property" role="tabpanel" aria-labelledby="nav-_property-tab">
		...プロパティ

	</div>

	<!-- ツール -->
	<div class="tab-pane fade" id="nav-_tool" role="tabpanel" aria-labelledby="nav-_tool-tab">
		...ツール

	</div>
</div>
</div>

</body>
</html>